1st September

# Strings

## concatenation

In [45]:
# Concatination
print("Good '+' Morning")
print("Good" + "Morning")

Good '+' Morning
GoodMorning

In [46]:
print("Python" + )

SyntaxError: invalid syntax (1049973341.py, line 1)

In [47]:
print("Python" + 3.5)

TypeError: can only concatenate str (not "float") to str

In [48]:
print("Python" + "3.5")

Python3.5

In [49]:
print("12" + "34")
print(1234)

1234
1234

## Multiplication

In [50]:
print("Good"*5)

GoodGoodGoodGoodGood

In [51]:
print(5*"Good")

GoodGoodGoodGoodGood

In [52]:
print("Good"*"5")

TypeError: can't multiply sequence by non-int of type 'str'

In [53]:
print("Good"*5.0)

TypeError: can't multiply sequence by non-int of type 'float'

##  Slicing

In [54]:
s = "python is Easy!!!"

In [55]:
print(s)

python is Easy!!!

In [56]:
print(s[0])
print(s[3:9])
print(s[4:])
print(s[-1])
print(s[:5])

p
hon is
on is Easy!!!
!
pytho

In [57]:
'''Unicode is a std way of writing text, python has unicode text editor, prefixing strings with 'u' or 'U'
Python allows you to specify unicode text.'''

"Unicode is a std way of writing text, python has unicode text editor, prefixing strings with 'u' or 'U'\nPython allows you to specify unicode text."

In [58]:
print("What's your name?")
# print('What's your name?')    This will give error so to solve such errors we will use escape Sequence
print('What\'s your name?')

What's your name?
What's your name?

In [ ]:
''' Escape sequence is a combination of characters that is translated to another character or sequence of characters that may be difficult or impossible to represent directly'''

' Escape seq is a combination of characters that is translated to another character or sequence of characters that may be difficult or impossible to represent directly'

In [64]:
print("The boy replies, "My name is Aaditya."")

SyntaxError: invalid syntax (1192671598.py, line 1)

In [66]:
print("The boy replies, \"My name is Aaditya.\"")

The boy replies, "My name is Aaditya."

In [67]:
print("The boy replies,\n\"My name is Aaditya.\"")

The boy replies,
"My name is Aaditya."

In [68]:
print("The boy replies,\t\"My name is Aaditya.\"")

The boy replies,	"My name is Aaditya."

In [70]:
print("The boy replies,\ \"My name is Aaditya.\"")

# when specifying a string with single '\' at end of line is added it indicate string is continued in next line but no new line is added otherwise

The boy replies,\ "My name is Aaditya."

In [88]:
print("\\")
print("\'")
print("\"")
print("Hello\n world" )
print("Hello \t world")
print("\056")
print("\x2E")
print("\x87")   # It gives Blank space

\
'
"
Hello
 world
Hello 	 world
.
.
Â‡

# Number System

In [ ]:
''' 11011 to decimal
51 to octal
360 octal to decimal
51 to hexadecimal
33 hex to decimal '''

' 11011 to decimal\n51 to octal\n360 to decimal\n51 to hexadecimal\n33 hex to decimal '

In [100]:
# decimal to binary
int('11011' ,2)

27

In [94]:
oct(51)

'0o63'

In [101]:
int('360', 8)

240

In [97]:
hex(51)

'0x33'

In [102]:
int('33', 6)

21

# BITWISE OPERATORS

In [109]:
# AND
print(110 and 10)

10

In [111]:
# OR
print(110 or 000)

110

In [114]:
# NOT
print(not False)

True

In [ ]:
# XOR
print(111 ^ 1)

110

In [ ]:
# RIGHT SHIFT
print( 101 >> 2)

25

In [131]:
# LEFT SHIFT
print( 101 << 2)

404

# Identity

In [133]:
# (is) or (is not)

In [136]:
x = [1,2]
y = [1, 2]

print("x is y", x is y)

x is y False

In [137]:
z = x
print(x is z)

True

In [140]:
x1 = 5
y1 =5

x2 = "hello"
y2= 'hello'

x3 = [1, 2, 3]
y3 = [1, 2, 3]

print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [ ]:
message = 'HELLO WORLD'
dict = {1:'a', 2:'b'}

b

In [145]:
# check if x is present if message
'x' in message

False

In [146]:
'HELLO' in message

True

In [147]:
'hello' in message

False

In [154]:
1 in dict.keys()

True

In [155]:
print('a' in dict.values())
'a' in dict

True

False

In [159]:
# TERNARY operator

10 if 10 < 20 else 20

10

In [164]:
x = 5
'+ve' if x > 0 else "-ve"

'+ve'

# Precedence and assoiciativity

In [160]:
!ls

Lab2.ipynb  Lab_1.ipynb

In [165]:
10 + 20*30

610

In [166]:
(40+20)*30/10

180.0

In [167]:
40+(20*30)/10

100.0

In [169]:
False == False or True

True

In [170]:
False == (False or True)

False

In [177]:
100/10*10

100.0

In [175]:
# construct if else block which rus if when lucnh is either fruit or sandwitch and only if money if more than or equal to 2

lunch = input("Enter Your lunch type: ")     
money = int(input("Enter amount of money you have: "))
if (lunch == "fruit" or lunch == "sandwich") and money >= 2:
    print("You can buy lunch.")
else:
    print("Cannot buy lunch.")

You can buy lunch.