In [1]:
# WAP to find whether a number is positive, negative, or zero

num = float(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Negative

In [3]:
# WAP to check if a character in a string is a vowel or consonant

char = input("Enter a character: ")

if ('A' <= char <= 'Z') or ('a' <= char <= 'z'):
    if char == 'A' or char == 'E' or char == 'I' or char == 'O' or char == 'U' or \
       char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u':
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Not a valid alphabet character")

Vowel

In [4]:
# WAP to take input from user and check whether it is a number or character.
# If character, determine uppercase or lowercase.

ch = input("Enter a single character: ")

if '0' <= ch <= '9':
    print("It is a Number")
elif 'A' <= ch <= 'Z':
    print("It is an Uppercase Letter")
elif 'a' <= ch <= 'z':
    print("It is a Lowercase Letter")
else:
    print("It is not a number or alphabet character")

It is a Lowercase Letter

In [5]:
# WAP to print largest out of three numbers

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest is", a)
elif b >= a and b >= c:
    print("Largest is", b)
else:
    print("Largest is", c)

Largest is 12.0

In [6]:
# WAP to write absolute value

n = float(input("Enter Number: "))

if n < 0:
    n = -n  # multiply by -1 to make positive

print("Absolute value:", n)

Absolute value: 10.0

In [7]:
# WAP to find sum of 10 numbers

total = 0
for i in range(10):
    num = float(input(f"Enter number {i+1}: "))
    total += num

print("Sum of 10 numbers is:", total)

Sum of 10 numbers is: 158.0

In [8]:
# WAP to check Armstrong number (3-digit)

num = int(input("Enter a 3-digit number: "))
original = num
sum_of_cubes = 0

while num > 0:
    digit = num % 10
    sum_of_cubes += digit ** 3
    num = num // 10

if sum_of_cubes == original:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Armstrong Number

In [9]:
# WAP to convert decimal number to binary

n = 123
bin = 0
x =1
while n:
    bin = bin + x*(n%2)
    x*=10
    print("BIN --> ",bin)
    n = (n-(n%2))//2
    print(n)

bin

BIN -->  1
61
BIN -->  11
30
BIN -->  11
15
BIN -->  1011
7
BIN -->  11011
3
BIN -->  111011
1
BIN -->  1111011
0

1111011

In [12]:
# Just to verify
int('1111011',2)

123

In [14]:
# WAP to calculate factorial of a number

n = int(input("Enter number : "))
f = 1
for i in range(1, n + 1):
    f *= i

print(f)

120

In [75]:
def fact(n):
    if n==1:
        return 1
    return n * fact(n-1)

print(fact(5))

120

In [15]:
# WAP to print multiplication table of N

N = int(input("Enter a number: "))

for i in range(1, 11):
    print(N, "x", i, "=", N * i)

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [16]:
# WAP to print leap years from 1900 to 2101

for year in range(1900, 2102):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        print(year)

1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

In [17]:
# WAP to sum series 1 + 1/2 + ... + 1/n

n = int(input("Enter n: "))
total = 0

for i in range(1, n + 1):
    total += 1 / i

print("Sum of series:", total)

Sum of series: 2.9289682539682538

In [18]:
# WAP to sum cubes of numbers from 1 to n

n = int(input("Enter n: "))
total = 0

for i in range(1, n + 1):
    total += i ** 3

print("Sum of cubes from 1 to", n, "is:", total)

Sum of cubes from 1 to 19 is: 36100