In [1]:
# Solving expression using operator precedence

step1 = 3 ** 2
print("Step 1: 3 ** 2 =", step1)

step2 = 2 * step1
print("Step 2: 2 *", step1, "=", step2)

step3 = 8 / 4
print("Step 3: 8 / 4 =", step3)

x = 10 + step2 - step3
print("Final Result: x =", x)

Step 1: 3 ** 2 = 9
Step 2: 2 * 9 = 18
Step 3: 8 / 4 = 2.0
Final Result: x = 26.0

In [2]:
# Dictionary storing student names and marks

students = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}

# i. Print the dictionary
print("Student Marks Dictionary:", students)

# ii. Print marks of a student entered by the user
name = input("Enter student name: ")

if name in students:
    print("Marks of", name, ":", students[name])
else:
    print("Student not found")

Student Marks Dictionary: {'Alice': 85, 'Bob': 90, 'Charlie': 78}

Enter student name:  Bob

Marks of Bob : 90

In [3]:
# Reverse of a number using while loop

num = int(input("Enter a number: "))
reverse = 0

while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num //= 10

print("Reversed number:", reverse)

Enter a number:  246

Reversed number: 642

In [4]:
# Multiplication table using for loop

n = int(input("Enter a number: "))

print("Multiplication Table of", n)
for i in range(1, 11):
    print(n, "x", i, "=", n * i)

Enter a number:  3

Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30